<div class="mb-sm">
  <%= simple_format h(question.body) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-blue">
    <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey"><%= l(question.created_at, format: :short) %></div>

  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present? ? "pencil" : "reply") %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: "Изменить вопрос", class: "mr-sm" %>
      <%= button_to fa_icon("trash-o"), question_path(question), method: :delete,
      form: { data: { turbo_confirm: "Точно удалить вопрос?" } }, title: "Удалить вопрос" %>
    </div>
  <% end %>
</div>

<div class="mt-lg text-sm text-gray">
  <% if question.author.present? %>
    Вопрос задал <%= link_to display_nickname(question.author), user_path(question.author) %>
  <% else %>
    Вопрос задал Аноним
  <% end %>
</div>
